// Vendoes
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  transform: scale(110%);
  transition: 0.4s;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $lavender;
  border-radius: 30px;
  padding: 5%;
  margin: 2%;
}

.clock {
  background-color: aliceblue;
  padding: 15px 20px;
  border-radius: 10px;
}

.dialog-open__modal-add {
  max-width: 55em;
  max-height: 35em;
  background-color: $aqua;
  padding: 2%;
  border-radius: 15px;
  z-index: 1;
  margin: auto;
}

.form-modal-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  margin-bottom: 2em;
  position: relative;
  h2,
  input,
  textarea {
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
  }

  select {
    max-width: 40%;
  }
  .btn-success {
    max-width: 30%;
    position: absolute;
    left: 90%;
    top: 50%;
  }
}

.form-add__button-close {
  position: absolute;
  // top: 200%;
  bottom: 85%;
  left: 85%;
  // transform: translate(200% 200%);
}

// .form-modal-add__controlling{
// }

.todos-wrapper {
  display: flex;
  position: relative;
}

.container {
  max-width: 30%;
  border: solid $gray;
  border-radius: 15px;
  min-height: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

// .container h3{
//     padding: 20px 10px;
//     border-radius: 10px;
//     // transform: scale(102%);
// }
.todo-storage h3 {
  // background-color: $aqua;
  text-wrap: nowrap;
}

.todo-storage__in-progress h3 {
  background-color: $smoke;
  text-wrap: nowrap;
  padding: 20px 10px;
  border-radius: 10px;
}

.todo-storage__done h3 {
  background-color: $blue;
  padding: 20px 10px;
  border-radius: 10px;
}

.todo-storage__title-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $aqua;
  padding: 16px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
// .todo-storage__current,
// .todo-storage__in-progress,
// .todo-storage__done {
// }

.todo-storage__current__list,
.todo-storage__in-progress__list,
.todo-storage__done__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 2%;
}

.todo-storage__current__list div {
  background-color: $aqua;
}

.todo-storage__in-progress__list div {
  background-color: $smoke;
}

.todo-storage__done__list div {
  background-color: $blue;
}

.todo-task {
  font-size: 16px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.edit-task {
  // transform: scale(150%);
  position: absolute;
  margin: auto;
  margin-inline: 10%;
  inset-inline: 0;
  inset-block-start: 50%;
  transform: translateY(-50%) scale(120%);
  z-index: 1;
}

.edit-title {
  text-align: center;
  font-size: 36px;
}
#task-edit-title {
  font-size: 26px;
  margin: auto;
  width: 90%;
  border-radius: 20px;
  text-align: center;
}
#task-edit-description {
  font-size: 26px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}

.todo-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
// .todo-storage__task-title {
//     background-color: $smoke;
//     height: 100%;
// }
// .todo-storage__task-description {
// }

.todo-task-info {
  display: flex;
  img {
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.todo-task-user-name {
  font-size: 24px;
}

.todo-task-time {
  margin-left: auto;
}

.task-setting {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.task-select {
  max-width: 300px;
}

.hidden {
  display: none;
}

.dialog-warning {
  width: max-content;
  height: max-content;
  background: linear-gradient(
    45deg,
    rgb(255, 193, 114) 50%,
    rgb(255, 174, 129) 75%,
    rgb(254, 160, 143) 100%
  );
  padding: 2%;
  border-radius: 25px;
  z-index: 1;
  margin: auto;
  padding: 5%;
  transition: 0.5s;
  svg {
    width: 80%;
    height: 80%;
    margin: 5%;
  }
  form {
    display: flex;
    justify-content: end;
  }
  text-align: center;
  h5 {
    font-size: 30px;
    color: white;
  }
}

.top {
  transform: translateY(-100%);
}

.dialog-warning__button-close {
  align-self: flex-end;
}
