@import 'bootstrap/scss/bootstrap';
@import 'variables.scss';
@import 'header.scss';
@import 'modal-windows.scss';
@import 'tasks.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select:hover {
  transform: scale(110%);
  transition: 0.3s;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

button:hover {
  transform: scale(110%);
  transition: 0.4s;
}

.task-wrapper {
  display: flex;
  margin: 0 2%;
}

.container {
  max-width: 30%;
  border: solid $gray;
  border-radius: 15px;
  min-height: 50em;
  display: flex;
  background-color: azure;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  h3 {
    padding: 20px 10px;
    border-radius: 10px;
  }
}

.to-do__wrapper h3 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  // background-color: #8ec5fc;
}

.in-progress__wrapper h3 {
  background-image: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
  // background-color: #ffb199;
  text-wrap: nowrap;
}

.done__wrapper h3 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  // background-color: #b1f4cf;
}

.to-do__list,
.in-progress__list,
.done__list {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 1%;
  gap: 2%;
  margin-bottom: auto;
}

.to-do__list {
  .task {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  // background-color: #8ec5fc;
}

.in-progress__list {
  .task {
    background-image: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
  }
  // background-color: #ffb199;
}

.done__list {
  .task {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  // background-color: #b1f4cf;
}

.hidden {
  display: none;
}

.top {
  transform: translateY(-100%);
}
